
body {
	background-image: url(../bg.jpg);
    background-size: cover;
    background-position-y: -200px;
    font-size: 14px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: inline-table;
    
}
#ct{
    background: rgba(102, 110, 108, 0.5) ;
    color: white;
    border-radius: 10px;
}

.map{
    background: rgba(154, 179, 166, 0.5) ;;
    padding: 10px;
    border-radius: 5px;
    
}
