li a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
    overflow: hidden;
}

nav ul li
{
    list-style-type: none;
    display: inline-block;

}

li
{
    float: left;
    padding: 30px 30px;
    /*Top right bot left*/
    margin: 50px 50px;
}

li:hover
{
    background-color: aquamarine;
}

header
{
    text-align: center;
}

h2
{
    margin-left: 10%;
    margin-right: 50%;
}





